body {
    font-family: 'poppins', sans-serif;
}

.hidden {
    display: none;
}

#game {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat div.textMessage {
    border: 1px solid black;
    border-radius: 8px;
}

#chat div.other {
    text-align: right;
}

#chatDisplay {
    width: 300px;
    height: 200px;
    background-color: #ddd;
    border: 1px solid black;
}

#chat {
    width: 300px;
    height: 200px;
    background-color: #ddd;
    border: 1px solid black;
}